<table class="table table-striped">
	<tr>
		<th>1</th>
		<td>Brand</td>
		<td>{{SelectedProduct.brand.name}}</td>
	</tr>  
	<tr>
		<th>2</th>
		<td>Category</td>
		<td>{{SelectedProduct.category.categoryName}}</td>
	</tr>  
	<tr>
		<th>3</th>
		<td>skuNumber</td>
		<td>{{SelectedProduct.skuNumber}}</td>
	</tr>  
	<tr>
		<th>4</th>
		<td>Title</td>
		<td>{{SelectedProduct.title}}</td>
	</tr>  
	<tr>
		<th>5</th>
		<td>Price</td>
		<td>{{SelectedProduct.price}} {{SelectedProduct.priceUnit}} </td>
	</tr>  
	<tr>
		<th>6</th>
		<td>Rating</td>
		<td>{{SelectedProduct.overallRating}}</td>
	</tr>  
</table>